@mixin koppelareas {
    .plaatjemetknop1 {
        grid-area: a;
        margin: 20px;
    }
    .plaatjemetknop2 {
        grid-area: b;
        margin: 20px;
    }
    .plaatjemetknop3 {
        grid-area: c;
        margin: 20px;
    }
    .plaatjemetknop4 {
        grid-area: d;
        margin: 20px;
    }
    .plaatjemetknop5 {
        grid-area: e;
        margin: 20px;
    }
    .plaatjemetknop6 {
        grid-area: f;
        margin: 20px;
    }
    .plaatjemetknop7 {
        grid-area: g;
        margin: 20px;
    }
}

@mixin stelrijverschuivingdefault() {
    .plaatjemetknop2,
    .plaatjemetknop3,
    .plaatjemetknop4,
    .plaatjemetknop5,
    .plaatjemetknop6,
    .plaatjemetknop7 {
        transform: translateY(0);
    }
}

body {
    height: 100vh;
    width: 100%;
}

.but {
    position: relative;
    height: 200px;
    width: 200px;
}

.plaatje {
    position: relative;
    height: 200px;
    border-radius: 50px;
    width: 200px;
    transform: translateY(-100%);
    opacity: 1.0;
    transition: opacity 500ms ease-in 0ms;
    &:hover {
        opacity: 0;
    }
}

.plaatjesmetknoppen {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1f;
    grid-template-rows: 1f 1f 1f 1f 1f 1f 1f;
    grid-template-areas: "a" "b" "c" "d" "e" "f" "g";
}

@include koppelareas();
.plaatjemetknop2 {
    transform: translateY(-50%);
}

.plaatjemetknop3 {
    transform: translateY(-100%);
}

.plaatjemetknop4 {
    transform: translateY(-150%);
}

.plaatjemetknop5 {
    transform: translateY(-200%);
}

.plaatjemetknop6 {
    transform: translateY(-250%);
}

.plaatjemetknop7 {
    transform: translateY(-300%);
}

@media (min-width: 600px) {
    .plaatjesmetknoppen {
        height: 100vh;
        width: 50%;
        display: grid;
        grid-template-columns: 1f 1f;
        grid-template-rows: 1f 1f 1f;
        grid-template-areas: "a b" "c d" "e f" "g .";
    }
    @include koppelareas();
    @include stelrijverschuivingdefault();
    .plaatjemetknop3,
    .plaatjemetknop4 {
        transform: translateY(-50%);
    }
    .plaatjemetknop5,
    .plaatjemetknop6 {
        transform: translateY(-100%);
    }
    .plaatjemetknop7 {
        transform: translateY(-150%);
    }
    .plaatjemetknop1,
    .plaatjemetknop2,
    .plaatjemetknop3,
    .plaatjemetknop4,
    .plaatjemetknop5,
    .plaatjemetknop6,
    .plaatjemetknop7 {
        margin: 20px;
    }
}

@media (min-width: 1024px) {
    .plaatjesmetknoppen {
        height: 50vh;
        width: 50%;
        display: grid;
        grid-template-columns: 1f 1f 1f;
        grid-template-rows: 1f 1f 1f;
        grid-template-areas: "a b c" "d e f" "g . . ";
    }
    @include koppelareas();
    /* het werkte om de een of andere reden niet lekker als ik dit niet herdefinieer */
    @include stelrijverschuivingdefault();
    .plaatjemetknop3 {
        transform: translateY(0);
    }
    .plaatjemetknop4,
    .plaatjemetknop5,
    .plaatjemetknop6 {
        transform: translateY(-50%);
    }
    .plaatjemetknop7 {
        transform: translateY(-100%);
    }
    .plaatje {
        border-radius: 30px;
    }
}