$testimonial-width: 90%;
body {
    height: 100vh;
    width: 100%;
}

.achterGrondbox {
    position: relative;
    height: 100vh;
    width: 45%;
    background-color: #c3cfe2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.voorgrond-boven {
    height: 50%;
    width: $testimonial-width;
    background-color: #fff;
    margin: auto;
    margin-top: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    font-size: 35px;
}

.voorgrond-onder {
    height: 50%;
    width: $testimonial-width;
    background-color: #686de0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 0px;
    margin: auto;
    margin-bottom: 30px;
    .voorgrond-onder__fotoContainer {
        margin: auto;
        height: 180px;
        width: 180px;
        .voorgrond-onder__fotoContainer__foto {
            position: relative;
            border-radius: 90px;
            transform: translateY(-85px);
            background-color: white;
            padding: 10px;
        }
    }
    .voorgrond-onder__footer__tekst {
        font-size: 30px;
        color: #fff;
        text-align: center;
        margin: 0px;
        transform: translateY(-80px);
        h1 {
            margin: 0px;
            padding: 0px;
        }
        p {
            color: #c3cfe2;
        }
    }
}