$buttonbreedte: 35%;
body {
    width: 100;
    height: 100;
    font-size: 40px;
}

.socialmedia {
    height: 100vh;
    width: 100%;
    border: 3px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    flex-direction: column;
}

.blog-button__reference,
.twitter-button__reference,
.linkedin-button__reference,
.facebook-button__reference,
.github-button__reference {
    opacity: 0;
}

.blog-button,
.twitter-button,
.linkedin-button,
.facebook-button,
.github-button {
    height: 12%;
    width: 6%;
    transition: opacity 500ms ease-out 1500ms;
    transition: width 2000ms ease-in 0ms;
    a {
        padding: 0px;
        margin: 0px;
        font-size: 40px;
    }
}

.blog-button__icon,
.twitter-button__icon,
.linkedin-button__icon,
.facebook-button__icon,
.github-button__icon {
    height: 100px;
    width: 100px;
}

.blog-button {
    background-color: #e17b77;
    display: flex;
    &:hover {
        width: $buttonbreedte;
        .blog-button__reference {
            height: 100%;
            width: 80%;
            opacity: 1;
        }
    }
}

.twitter-button {
    background-color: #00aced;
    display: flex;
    &:hover {
        width: $buttonbreedte;
        .twitter-button__reference {
            height: 100%;
            width: 80%;
            opacity: 1;
        }
    }
}

.linkedin-button {
    background-color: #007bb6;
    display: flex;
    &:hover {
        width: $buttonbreedte;
        .linkedin-button__reference {
            height: 100%;
            width: 80%;
            opacity: 1;
        }
    }
}

.facebook-button {
    background-color: #3b5998;
    &:hover {
        width: $buttonbreedte;
        display: flex;
        .facebook-button__reference {
            height: 100%;
            width: 80%;
            opacity: 1;
        }
    }
}

.github-button {
    background-color: #fff;
    margin-bottom: 10px;
    &:hover {
        width: $buttonbreedte;
        display: flex;
        .github-button__reference {
            height: 100%;
            width: 80%;
            opacity: 1;
        }
    }
}

.socialmedia__bottomspace {
    height: 10vh;
}