$hoogte: 200px;
$breedte:200px;
body {
    height: 100vh;
    width: 100%;
}

.plaatjes-button {
    position: relative;
    height: $hoogte;
    width: $breedte;
}

.plaatjes-img {
    position: relative;
    height: $hoogte;
    border-radius: 50px;
    width: $breedte;
    transform: translateY(-100%);
    opacity: 1.0;
    transition: opacity 500ms ease-in 0ms;
    &:hover {
        opacity: 0;
    }
}

.plaatjes {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 240px;
    grid-template-rows: repeat(7, 240px);
}

.plaatjes-1,
.plaatjes-2,
.plaatjes-3,
.plaatjes-4,
.plaatjes-5,
.plaatjes-6,
.plaatjes-7 {
    margin: 20px;
}

@media (min-width: 700px) {
    .plaatjes {
        height: 100vh;
        width: 50%;
        display: grid;
        grid-template-columns: repeat(2, 240px);
        grid-template-rows: repeat(3, 240px);
    }
}

@media (min-width: 1024px) {
    .plaatjes {
        height: 50vh;
        width: 50%;
        display: grid;
        grid-template-columns: repeat(3, 240px);
        grid-template-rows: repeat(3, 240px);
    }
}