@mixin koppelAreas {
    .plaatjes-1 {
        grid-area: a;
        margin: 20px;
    }
    .plaatjes-2 {
        grid-area: b;
        margin: 20px;
    }
    .plaatjes-3 {
        grid-area: c;
        margin: 20px;
    }
    .plaatjes-4 {
        grid-area: d;
        margin: 20px;
    }
    .plaatjes-5 {
        grid-area: e;
        margin: 20px;
    }
    .plaatjes-6 {
        grid-area: f;
        margin: 20px;
    }
    .plaatjes-7 {
        grid-area: g;
        margin: 20px;
    }
}

@mixin stelRijVerschuivingDefault() {
    .plaatjes-2,
    .plaatjes-3,
    .plaatjes-4,
    .plaatjes-5,
    .plaatjes-6,
    .plaatjes-7 {
        transform: translateY(0);
    }
}

body {
    height: 100vh;
    width: 100%;
}

.plaatjes__but {
    position: relative;
    height: 200px;
    width: 200px;
}

.plaatjes__img {
    position: relative;
    height: 200px;
    border-radius: 50px;
    width: 200px;
    transform: translateY(-100%);
    opacity: 1.0;
    transition: opacity 500ms ease-in 0ms;
    &:hover {
        opacity: 0;
    }
}

.plaatjes {
    height: 100vh;
    width: 30%;
    display: grid;
    grid-template-columns: 1f;
    grid-template-rows: 1f 1f 1f 1f 1f 1f 1f;
    grid-template-areas: "a" "b" "c" "d" "e" "f" "g";
}

@include koppelAreas();
.plaatjes-2 {
    transform: translateY(-50%);
}

.plaatjes-3 {
    transform: translateY(-100%);
}

.plaatjes-4 {
    transform: translateY(-150%);
}

.plaatjes-5 {
    transform: translateY(-200%);
}

.plaatjes-6 {
    transform: translateY(-250%);
}

.plaatjes-7 {
    transform: translateY(-300%);
}

@media (min-width: 700px) {
    .plaatjes {
        height: 100vh;
        width: 30%;
        display: grid;
        grid-template-columns: 1f 1f;
        grid-template-rows: 1f 1f 1f;
        grid-template-areas: "a b" "c d" "e f" "g .";
    }
    @include koppelAreas();
    @include stelRijVerschuivingDefault();
    .plaatjes-3,
    .plaatjes-4 {
        transform: translateY(-50%);
    }
    .plaatjes-5,
    .plaatjes-6 {
        transform: translateY(-100%);
    }
    .plaatjes-7 {
        transform: translateY(-150%);
    }
    .plaatjes-1,
    .plaatjes-2,
    .plaatjes-3,
    .plaatjes-4,
    .plaatjes-5,
    .plaatjes-6,
    .plaatjes-7 {
        margin: 20px;
    }
}

@media (min-width: 1024px) {
    .plaatjes {
        height: 100vh;
        width: 30%;
        display: grid;
        grid-template-columns: 1f 1f 1f;
        grid-template-rows: 1f 1f 1f;
        grid-template-areas: "a b c" "d e f" "g . . ";
    }
    @include koppelAreas();
    @include stelRijVerschuivingDefault();
    .plaatjes-3 {
        transform: translateY(0);
    }
    .plaatjes-4,
    .plaatjes-5,
    .plaatjes-6 {
        transform: translateY(-50%);
    }
    .plaatjes-7 {
        transform: translateY(-100%);
    }
    .plaatjes-1,
    .plaatjes-2,
    .plaatjes-3,
    .plaatjes-4,
    .plaatjes-5,
    .plaatjes-6,
    .plaatjes-7 {
        margin-left: 20px;
        margin-right: 20px;
    }
}