body {
  height: 100vh;
  width: 100%;
}

.plaatjes__but {
  position: relative;
  height: 200px;
  width: 200px;
}

.plaatjes__img {
  position: relative;
  height: 200px;
  border-radius: 50px;
  width: 200px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 1.0;
  -webkit-transition: opacity 500ms ease-in 0ms;
  transition: opacity 500ms ease-in 0ms;
}

.plaatjes__img:hover {
  opacity: 0;
}

.plaatjes {
  height: 100vh;
  width: 30%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1f;
      grid-template-columns: 1f;
  -ms-grid-rows: 1f 1f 1f 1f 1f 1f 1f;
      grid-template-rows: 1f 1f 1f 1f 1f 1f 1f;
      grid-template-areas: "a" "b" "c" "d" "e" "f" "g";
}

.plaatjes-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
  margin: 20px;
}

.plaatjes-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: b;
  margin: 20px;
}

.plaatjes-3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: c;
  margin: 20px;
}

.plaatjes-4 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: d;
  margin: 20px;
}

.plaatjes-5 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: e;
  margin: 20px;
}

.plaatjes-6 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: f;
  margin: 20px;
}

.plaatjes-7 {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: g;
  margin: 20px;
}

.plaatjes-2 {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.plaatjes-3 {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.plaatjes-4 {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
}

.plaatjes-5 {
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
}

.plaatjes-6 {
  -webkit-transform: translateY(-250%);
          transform: translateY(-250%);
}

.plaatjes-7 {
  -webkit-transform: translateY(-300%);
          transform: translateY(-300%);
}

@media (min-width: 700px) {
  .plaatjes {
    height: 100vh;
    width: 30%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1f 1f;
        grid-template-columns: 1f 1f;
    -ms-grid-rows: 1f 1f 1f;
        grid-template-rows: 1f 1f 1f;
        grid-template-areas: "a b" "c d" "e f" "g .";
  }
  .plaatjes-1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: a;
    margin: 20px;
  }
  .plaatjes-2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: b;
    margin: 20px;
  }
  .plaatjes-3 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: c;
    margin: 20px;
  }
  .plaatjes-4 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: d;
    margin: 20px;
  }
  .plaatjes-5 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: e;
    margin: 20px;
  }
  .plaatjes-6 {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: f;
    margin: 20px;
  }
  .plaatjes-7 {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: g;
    margin: 20px;
  }
  .plaatjes-2,
  .plaatjes-3,
  .plaatjes-4,
  .plaatjes-5,
  .plaatjes-6,
  .plaatjes-7 {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .plaatjes-3,
  .plaatjes-4 {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .plaatjes-5,
  .plaatjes-6 {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  .plaatjes-7 {
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
  }
  .plaatjes-1,
  .plaatjes-2,
  .plaatjes-3,
  .plaatjes-4,
  .plaatjes-5,
  .plaatjes-6,
  .plaatjes-7 {
    margin: 20px;
  }
}

@media (min-width: 1024px) {
  .plaatjes {
    height: 100vh;
    width: 30%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1f 1f 1f;
        grid-template-columns: 1f 1f 1f;
    -ms-grid-rows: 1f 1f 1f;
        grid-template-rows: 1f 1f 1f;
        grid-template-areas: "a b c" "d e f" "g . . ";
  }
  .plaatjes-1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: a;
    margin: 20px;
  }
  .plaatjes-2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: b;
    margin: 20px;
  }
  .plaatjes-3 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: c;
    margin: 20px;
  }
  .plaatjes-4 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: d;
    margin: 20px;
  }
  .plaatjes-5 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: e;
    margin: 20px;
  }
  .plaatjes-6 {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: f;
    margin: 20px;
  }
  .plaatjes-7 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: g;
    margin: 20px;
  }
  .plaatjes-2,
  .plaatjes-3,
  .plaatjes-4,
  .plaatjes-5,
  .plaatjes-6,
  .plaatjes-7 {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .plaatjes-3 {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .plaatjes-4,
  .plaatjes-5,
  .plaatjes-6 {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .plaatjes-7 {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  .plaatjes-1,
  .plaatjes-2,
  .plaatjes-3,
  .plaatjes-4,
  .plaatjes-5,
  .plaatjes-6,
  .plaatjes-7 {
    margin-left: 20px;
    margin-right: 20px;
  }
}
/*# sourceMappingURL=styles.css.map */